//VARIABLES

$couleur-primaire: #9356dc;
$couleur-secondaire: #ff79da;
$couleur-tertiaire: #99e2d0;
$white: #fff;
$black: #000;
$verydarkergrey: rgb(63, 63, 63);
$approxdarkergrey: rgb(121, 120, 120);
$darkergrey: rgb(192, 192, 192);
$darkgrey: #4a4a4a1f;
$lightgrey: #f5f5f5;
$verylightgrey: #f5f5f566;
$lightgreen: rgb(142, 225, 207);
$darkgreen: rgb(51, 162, 138);
$QUERY_MOBILE_MAX: 499px;
$QUERY_TAB_MIN: 501px;
$QUERY_TAB_MAX: 999px;
$QUERY_DESKTOP_MIN: 1000px;
$QUERY_DESKTOP_MAX: 2500px;