// @import "./vendors/bootstrap/scss/bootstrap.scss";

/*
     DD SOME TRAITMENTS HERE WITH nodejs's package for instance
     THIS FILE WOULD BE IMPORTED FROM style.scss TO build/style.css
*/

// @import './node_modules/bootstrap/scss/bootstrap.scss';
// C:\Users\achic\myDesktop\RUBY\ocr_p7_bis\node_modules\bootstrap\scss\bootstrap.scss
@import "./main.scss";
/***********************************/
/***********************************/
/************utils******************/
//EXTENSIONS
//FONCTIONS
//MIXINS

@mixin button_form {
  border-block: none;
  border-radius: 30px;
  border-color: $white;
  background: linear-gradient($rose, $mauve);
  color: white;
  height: 3em;
  width: 13em;
  box-shadow: 0 0 10px 1px $darkergrey;
}

//VARIABLES
$mauve: #9356dc;
$rose: #ff79da;
$turquoise: #99e2d0;
$white: #fff;
$black: #000;
$verydarkergrey: rgb(63, 63, 63);
$darkergrey: rgb(192, 192, 192);
$darkgrey: #4a4a4a1f;
$lightgrey: #f5f5f5;
$QUERY_MOBILE_MAX: 499px;
$QUERY_TAB_MIN: 500px;
$QUERY_TAB_MAX: 999px;
$QUERY_DESKTOP_MIN: 1000px;
$QUERY_DESKTOP_MAX: 1499px;
/***********************************/
/***********************************/
/***********************************/
/************base*******************/
//BASE
//NORMALIZE
//TYPOGRAPHY
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
:root {
  font-family: Roboto;
}

@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
footer {
  font-family: Shrikhand;
}

/***********************************/
/***********************************/
/************component**************/
//BUTTONS
/***********************************/
/***********************************/
/************layouts****************/
//HEADER
body {
  & > header {
    /*display: flex;
    justify-content: center;
    padding: 1rem;
    box-shadow: 0 0 10px 1px $darkergrey;

    &.H > img.H__logo {
      width: 50%;
    }
    &.H > button.H__goBack {
      & > i {
      }
    }*/
  }
}
@mixin headerbarre($param) {
  padding: $param;
  box-shadow: 0 0 10px 1px $darkergrey;
}

.headerbarre {
  display: flex;
  justify-content: center;
  @include headerbarre(1rem);

  &__logo {
    width: 50%;
  }
  &__goBack {
    & > i {
    }
  }
}

//NAV

@mixin jumbotron__map() {
  text-align: center;
  background-color: $darkgrey;
  padding: 1em 0;
  > * {
  }
  > i {
  }

  > input {
    font-weight: bolder;
    background-color: transparent;
    border: none;
    text-align: center;
  }
}

@mixin jumbotron__menu {
  text-align: center;
  padding: 3em 1em;
  background-color: $lightgrey;

  > h1.slogan {
  }
  > h2.slogan {
    font-weight: unset;
  }

  button.explore {
    @include button_form();
  }
}

@mixin jumbotron() {
  &__map {
    @include jumbotron__map;
  }

  &__menu {
    @include jumbotron__menu;
  }

  // ON POURRAIT UTILISER DES CONDITIONS @IF/@ELSE ET DES BOUCLES @EACH
}

.jumbotron {
  @include jumbotron;

  // METTRE DES REGLES NON PROGRAMMABLES
  // SOUVENT À L'AIDE DE %PLACEHOLDERS
}

body {
  & > nav {
    /*form {
      text-align: center;
      background-color: $darkgrey;
      padding: 1em 0;
      > * {
      }
      > i {
      }

      > input {
        font-weight: bolder;
        background-color: transparent;
        border: none;
        text-align: center;
      }
    }
    .menu {
      text-align: center;
      padding: 3em 1em;
      background-color: $lightgrey;

      > h1.menu__slogan {
      }
      > h2.menu__slogan {
        font-weight: unset;
      }

      button.explore {
        @include button_form()

      }
      
    }*/
  }
}

//MAIN

@mixin fonctionnement__list {
  >li{
    list-style: none; 
    margin: 20px;
    position: relative;
    padding: 10px;
    border-radius: 10px;
    width: 23%;
    box-shadow: 1px 2px 5px lightgrey;
      
      >i{color: $verydarkergrey; padding-right: 5px;}
    }

    &.--accueil>li::before{
      content: "1";
      background-color: blueviolet;
      width: 25px;
      height: 25px;
      padding: 5px;
      border-radius: 1em;
      position:absolute;
      left: 0;
      top: calc(50% - 15px);
      color: white;
      }
}

@mixin fonctionnement__titre {}

@mixin fonctionnement {
  &__titre{@include fonctionnement__titre();}
  &__list{@include fonctionnement__list();}
  }
  
.fonctionnement{@include fonctionnement();
  margin: 2em;
  
   }




//ARTICLE//

.restaurants{

  padding: 1em;

  &__titre{
    margin: 2em;
  }

  &__figure{
    border-radius: 10px;
    box-shadow: 0 0 10px 2px;
    width:100%;
    height:400px;
    margin: 1em 0;
  
    
    >img{
      height: 60%;
      width: 100%;
      border-radius: 10px 10px 0 0;


    }
    >figcaption{}
    >a{}
    >i{}
  }
}


//ARTICLE//

// //FOOTER

// body {
//   > footer {
//     
//     background: $verydarkergrey;
//     color: $white;
//     padding: 8px 0px 20px 10px;

//     > &__titre {
//     }
//     > &__content {
//       > li {
//         > a {
//           text-decoration: none;
//           color: $white;
//         }
//         > i {
//         }
//       }
//     }
//   }
// }
/***********************************/
/***********************************/
/************pages******************/
@media only screen and (max-width: $QUERY_MOBILE_MAX) {
  body {
    & > header {
    }
    & > nav {
    }
    & > main {
      & > section {
      }
      & > article {
      }
    }
    & > footer {
      & > ul {
      }
    }
  }
}
@media only screen and (min-width: $QUERY_TAB_MIN) and (max-width: $QUERY_TAB_MAX) {
  body {
    & > header {
    }
    & > nav {
    }
    & > main {
      & > section {
      }
      & > article {
      }
    }
    & > footer {
      & > ul {
      }
    }
  }
  // body>header{}
  // body>main{}
  // body>main>section{}
  // body>main>article{}
  // body>footer{}
  // body>footer>ul{}
}
@media only screen and (min-width: $QUERY_DESKTOP_MIN) and (max-width: $QUERY_DESKTOP_MAX) {
  body {
    & > header {
    }
    & > nav {
    }
    & > main {
      & > section {
      }
      & > article {
      }
    }
    & > footer {
      & > ul {
      }
    }
  }
  // body>header{}
  // body>main{}
  // body>main>section{}
  // body>main>article{}
  // body>footer{}
  // body>footer>ul{}
}
//ACCUEIL
//MENU - 1 - LA PALETTE DU GOUT

body {
  > main {
    display: block;
    flex-direction: column;
    align-items: center;

    .commander {
      @include button_form();
    }
  }
}

//MENU-2
//MENU-3
//MENU-4
/***********************************/
/***********************************/
/************themes*****************/

/***********************************/
/***********************************/
/************vendors****************/

/***********************************/
/***********************************/
