@import "./main.scss";

//MIXINS

@mixin button_form {
  border: none;
  border-radius: 30px;
  border-color: $white;
  background: linear-gradient($couleur-secondaire, $couleur-primaire);
  color: white;
  height: 3em;
  width: 13em;
  box-shadow: 0 0 10px 1px $darkergrey;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%);
    background-blend-mode: lighten;
    background-color: #b389e7;
    transition: all 0.5s ease-out;
  }
}

@mixin headerbarre($param: $ok) {
  padding: $param;
  box-shadow: 0 0 10px 1px $darkergrey;
  height: 50px;
}

@mixin jumbotron__map() {
  text-align: center;
  background-color: $darkgrey;
  padding: 1em 0;

  > input {
    font-weight: bolder;
    background-color: transparent;
    border: none;
    text-align: center;
  }
}

@mixin jumbotron__menu {
  text-align: center;
  padding: 3em 1em;
  background-color: $lightgrey;

  > h2.slogan {
    font-weight: 100;
  }

  button.explore {
    @include button_form();
  }
}

@mixin jumbotron() {
  &__map {
    @include jumbotron__map;
  }

  &__menu {
    @include jumbotron__menu;
  }

  // ON POURRAIT UTILISER DES CONDITIONS @IF/@ELSE ET DES BOUCLES @EACH
}

@mixin fonctionnement__list {
  > li {
    list-style: none;
    margin: 20px;
    position: relative;
    padding: 2em;
    border-radius: 30px;
    box-shadow: 1px 2px 5px lightgrey;

    &:hover {
      background-color: lighten($couleur-primaire, 35);
    }

    > i {
      color: $approxdarkergrey;
      padding-left: 15px;
      padding-right: 20px;
    }
    &:hover {
      i::before {
        color: $couleur-primaire;
      }
    }
  }

  &--accueil {
    > li {
      &::before {
        background-color: $couleur-primaire;
        width: 2em;
        height: 2em;
        padding: 5px;
        border-radius: 2em;
        position: absolute;
        left: -10px;
        top: 1.5em;
        color: white;
        text-align: center;
        line-height: 2rem;
      }

      @for $i from 1 through 3 {
        &:nth-child(#{$i}):before {
          content: "#{$i}";
        }
      }
    }
  }
}

@mixin fonctionnement {
  &__list {
    @include fonctionnement__list();
  }
}

@mixin footerbloc {
  background: $verydarkergrey;
  color: $white;
  padding: 8px 0px 20px 10px;

  &__titre {
    margin: 2em;
  }

  &__content {
    > li {
      > a {
        text-decoration: none;
        color: $white;
        font-family: "Roboto";
        line-height: 25px;

        > .fa-utensils {
          padding-right: 1em;
        }

        > .fa-hands-helping {
          padding-right: 0.5em;
        }
      }
    }
  }
}

@mixin btnRetour {
  position: absolute;
  left: 1em;
  top: 1.3em;
  color: black;
  font-size: 1.5em;
}

@mixin laCarte {
  &__titre {
    @include laCarte__titre();
  }

  &__plats {
    @include laCarte__plats();
  }
}

//VARIABLES
$couleur-primaire: #9356dc;
$couleur-secondaire: #ff79da;
$couleur-tertiaire: #99e2d0;
$white: #fff;
$black: #000;
$verydarkergrey: rgb(63, 63, 63);
$approxdarkergrey: rgb(121, 120, 120);
$darkergrey: rgb(192, 192, 192);
$darkgrey: #4a4a4a1f;
$lightgrey: #f5f5f5;
$lightgreen: rgb(142, 225, 207);
$darkgreen: rgb(51, 162, 138);
$QUERY_MOBILE_MAX: 499px;
$QUERY_TAB_MIN: 501px;
$QUERY_TAB_MAX: 999px;
$QUERY_DESKTOP_MIN: 1000px;
$QUERY_DESKTOP_MAX: 1500px;

//TYPOGRAPHY

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap");
:root {
  font-family: Roboto;
}

@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
footer {
  font-family: Shrikhand;
}

//BUTTONS

/***********************************/
/***********************************/
/************layouts****************/

//HEADER
body {
  font-weight: 500;
  margin: auto;
  max-width: 1500px;
}
$ok: 1em;

.headerbarre {
  display: flex;
  justify-content: center;
  @include headerbarre(1rem);
}

//NAV

.jumbotron {
  @include jumbotron;

  // METTRE DES REGLES NON PROGRAMMABLES
  // SOUVENT À L'AIDE DE %PLACEHOLDERS
}

//MAIN FONCTIONNEMENT//

.fonctionnement {
  @include fonctionnement();
  margin: 2em;
}

//MAIN RESTAURANTS//

.restaurants {
  padding: 1em;
  background-color: $lightgrey;

  &__titre {
    margin: 2em;
  }

  &__content {
    > a {
      color: black;

      > figure {
        border-radius: 10px;
        box-shadow: 0 0 10px -2px;
        width: 100%;
        height: 300px;
        margin: 1em 0;
        position: relative;

        > img {
          height: 75%;
          width: 100%;
          border-radius: 10px 10px 0 0;
          object-fit: cover;
        }
        > figcaption {
          padding: 1em;
          font-weight: bold;

          .far {
            position: absolute;
            right: 1em;
            bottom: 1em;
            font-size: x-large;
            opacity: 1;
          }
          .fas {
            position: absolute;
            right: 1em;
            font-size: x-large;
            bottom: 1em;
            transform: scale(0);
            background: linear-gradient(to bottom, $couleur-primaire, $couleur-secondaire);
          }
          &:hover {
            .far {
              opacity: 0;
            }
            .fas {
              transform: scale(1);
              transition: transform 500ms ease-in-out;
              transform-origin: bottom center;
              -webkit-background-clip: text;
              color: transparent;
            }
          }

          > p {
            margin: 0;
            font-weight: 300;
            padding-top: 0.5em;
          }

          > span {
            color: $darkgreen;
            background-color: $lightgreen;
            font-size: large;
            position: absolute;
            right: 1em;
            top: 1em;
            padding: 0.5em;
            border-radius: 5px;
          }
        }
      }

      a::before {
        content: "";
        z-index: 100;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }
    }
  }
}

//FOOTER//

.footer {
  @include footerbloc();
}

// ANIMATION //

.overlayAnimation {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(206, 61, 242);
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: -1;
  animation: test 3s linear 1;

  &__title {
    display: flex;
    justify-content: center;
    position: relative;
    top: 42%;
    font-family: "Shrikhand", serif;
    color: #c7bc5bf6;
    font-weight: normal;
    font-size: 40px;
    letter-spacing: 8px;
  }
}

#loading {
  display: inline-block;
  position: absolute;
  width: 300px;
  height: 300px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes test {
  0% {
    opacity: 1;
    z-index: 100;
  }

  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes spin {
  to {
    z-index: 10;
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

//MENUS

.headerbarre {
  display: flex;
  justify-content: center;
  @include headerbarre($ok);
  &__btnRetour {
    @include btnRetour();
  }
}

.bg {
  margin: 0;

  &__img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
  }
}

.laCarte {
  background-color: $lightgrey;
  border-radius: 2em 2em 0 0;
  margin-top: -6em;
  width: 100%;
  padding-bottom: 1em;
  position: relative;

  &__titre {
    font-family: "Shrikhand";
    display: flex;
    justify-content: space-between;
    padding: 1em;
    padding-left: 1.5em;

    .far {
      position: absolute;
      right: 1em;
      font-size: x-large;
      opacity: 1;
    }
    .fas {
      position: absolute;
      right: 1em;
      font-size: x-large;
      transform: scale(0);
      background: linear-gradient(to bottom, $couleur-primaire, $couleur-secondaire);
    }
    &:hover {
      .far {
        opacity: 0;
      }
      .fas {
        transform: scale(1);
        transition: transform 500ms ease-in-out;
        transform-origin: bottom center;
        -webkit-background-clip: text;
        color: transparent;
      }
    }
  }

  &__plats {
    > h2 {
      padding-left: 2em;
      position: relative;

      &::after {
        background-color: $couleur-tertiaire;
        content: "";
        height: 3px;
        width: 3em;
        bottom: -0.2em;
        left: 2em;
        position: absolute;
      }
    }
    > ul {
      @include fonctionnement__list();
      animation: animationMenu 1s ease-in 1;
      overflow: hidden;

      > li {
        background-color: $white;
        padding: 0;
        height: 70px;
        padding-left: 2em;
        overflow: hidden;

        &:hover {
          background-color: $white;
        }

        > h3 {
          position: relative;
          margin-top: 1rem;
        }

        div {
          overflow: hidden;

          &.box {
            position: absolute;
            display: flex;
            align-items: flex-end;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 30px;

            > h4 {
              font-weight: 300;
              overflow: hidden;
              width: 100%;
              padding-left: 2em;
              white-space: nowrap;
              text-overflow: ellipsis;
              margin-bottom: 0.5em;
            }
          }

          &.box::before {
            content: "✓";
            position: absolute;
            right: -2em;
            top: 30%;
            width: 35px;
            height: 35px;
            text-align: center;
            font-size: 2em;
            color: $couleur-tertiaire;
            transition: transform 0.4s ease 0s, right 0.4s ease 0s;
            border-width: initial;
            border-style: solid;
            border-color: $couleur-tertiaire;
            border-image: initial;
            border-radius: 2em;
          }

          &.box::after {
            content: "";
            width: 0px;
            height: 100%;
            right: 0;
            transition: width 0.4s;
            background: $couleur-tertiaire;
            border-radius: 0 30px 30px 0;
            position: relative;
          }

          > .price {
            right: 20px;
            bottom: 0px;
            display: inline-block;
            height: 25px;
            transition: 400ms;
            padding-right: 1rem;
            background: transparent;
          }
        }
      }

      li:hover .box::after {
        width: 200px;
      }

      li:hover .box::before {
        transform: rotate(360deg);
        right: 2.5rem;
      }
    }
  }

  .laCarte__plats li {
    overflow: hidden;
  }
}

.laCarte__plats > ul > li:hover > div:before {
  background: white;
  right: 3%;
  z-index: 1;
}

.laCarte__plats > ul > li:hover > div:after {
  background: $couleur-tertiaire;
  width: 150px;
}

.order {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 3em;

  &__commander {
    @include button_form();
  }
}

.footer {
  @include footerbloc();

  > ul {
    padding-left: 2em;
  }
}

@keyframes animationMenu {
  0% {
    height: 0;
  }
  90% {
  }
  100% {
    height: 400px;
  }
}

// MEDIA QUERIES ACCUEIL //

@media only screen and (min-width: $QUERY_TAB_MIN) and (max-width: $QUERY_TAB_MAX) {
  body {
    .fonctionnement {
      &__titre {
        text-align: center;
      }

      &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        > li {
          padding: 1em;
          font-size: small;

          &::before {
            width: 1em;
            height: 1em;
            top: 0.5em;
            line-height: 1rem;
          }
        }
      }
    }

    .restaurants {
      &__titre {
        text-align: center;
        margin: 1em;
      }

      &__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        > a {
          margin: 10px;
          > figure {
            > figcaption {
              .far {
                right: 1em;
                padding-left: 0;
              }
              .fas {
                right: 1em;
                padding-left: 0;
              }
            }
          }
        }
      }
    }
    .footer {
      display: flex;
      justify-content: center;
      align-items: center;

      &__content {
        display: flex;
        padding-left: 1em;

        > li {
          margin: 1rem;
          font-size: small;
        }
      }
    }
  }
}
@media only screen and (min-width: $QUERY_DESKTOP_MIN) and (max-width: $QUERY_DESKTOP_MAX) {
  body {
    .fonctionnement {
      &__titre {
        text-align: center;
      }

      &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }
    }

    .restaurants {
      &__titre {
        text-align: center;
        margin: 1em;
      }

      &__content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        > a {
          margin: 10px;
          > figure {
            > figcaption {
              .far {
                right: 1em;
                padding-left: 0;
              }
              .fas {
                right: 1em;
                padding-left: 0;
              }
            }
          }
        }
      }
    }
    .footer {
      display: flex;
      justify-content: center;
      align-items: center;

      &__content {
        display: flex;

        > li {
          margin: 1rem 2.5rem;
        }
      }
    }
  }
}
// ACCUEIL //

// MEDIA QUERIES MENUS //

@media only screen and (max-width: $QUERY_MOBILE_MAX) {
  body {
    .headerbarre {
      &__logo {
        height: 70%;
        margin: 0.5em;
      }
    }
    .laCarte {
      &__plats {
        > ul {
          > li {
            > h3 {
              text-overflow: ellipsis;
              overflow: hidden;
              width: 75%;
              white-space: nowrap;
            }
          }
          li:hover .box::before {
            transform: rotate(360deg);
            right: 2rem;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: $QUERY_TAB_MIN) and (max-width: $QUERY_TAB_MAX) {
  body {
    .laCarte {
      &__titre {
        padding-left: 2em;
        justify-content: center;
        > a {
          > figure {
            > figcaption {
              .far {
                right: 1em;
                padding-left: 0;
              }
              .fas {
                right: 1em;
                padding-left: 0;
              }
            }
          }
        }
      }
      &__plats {
        > ul {
          > li {
            width: 75%;
            justify-content: center;
            margin-left: 4em;
          }
        }
      }
    }
    .footer {
      display: flex;
      justify-content: center;
      align-items: center;

      &__content {
        display: flex;
        padding-left: 1em;

        > li {
          margin: 1rem;
          font-size: small;
        }
      }
    }
  }
}
@media only screen and (min-width: $QUERY_DESKTOP_MIN) and (max-width: $QUERY_DESKTOP_MAX) {
  body {
    .laCarte {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding-top: 5em;

      > h1 {
        position: absolute;
        width: 30%;
        padding: 0px;
        padding-left: 15em;
      }

      &__plats {
        > ul {
          > li {
            width: 75%;
            justify-content: center;
            margin-left: 2em;
          }
        }
      }
    }

    .order {
      text-align: center;
      grid-template-columns: inherit;
    }
  }
}
