// @import "./vendors/bootstrap/scss/bootstrap.scss";

/*
     DD SOME TRAITMENTS HERE WITH nodejs's package for instance
     THIS FILE WOULD BE IMPORTED FROM style.scss TO build/style.css
*/

// @import './node_modules/bootstrap/scss/bootstrap.scss';
// C:\Users\achic\myDesktop\RUBY\ocr_p7_bis\node_modules\bootstrap\scss\bootstrap.scss
@import "./main.scss";
/***********************************/
/***********************************/
/************utils******************/
//EXTENSIONS
//FONCTIONS
//MIXINS

@mixin button_form {
  border: none;
  border-radius: 30px;
  border-color: $white;
  background: linear-gradient($rose, $mauve);
  color: white;
  height: 3em;
  width: 13em;
  box-shadow: 0 0 10px 1px $darkergrey;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%);
    background-blend-mode: lighten;
    background-color: #b389e7;
  }
}

//VARIABLES
$mauve: #9356dc;
$rose: #ff79da;
$turquoise: #99e2d0 ;
$white: #fff;
$black: #000;
$verydarkergrey: rgb(63, 63, 63);
$approxdarkergrey: rgb(121, 120, 120);
$darkergrey: rgb(192, 192, 192);
$darkgrey: #4a4a4a1f;
$lightgrey: #f5f5f5;
$lightgreen: rgb(142, 225, 207);
$darkgreen: rgb(51, 162, 138);
$QUERY_MOBILE_MAX: 499px;
$QUERY_TAB_MIN: 500px;
$QUERY_TAB_MAX: 999px;
$QUERY_DESKTOP_MIN: 1000px;
$QUERY_DESKTOP_MAX: 1499px;
/***********************************/
/***********************************/
/***********************************/
/************base*******************/
//BASE
//NORMALIZE
//TYPOGRAPHY

// // @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,500&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap");
:root {
  font-family: Roboto;
}

@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
footer {
  font-family: Shrikhand;
}

/***********************************/
/***********************************/
/************component**************/
//BUTTONS
/***********************************/
/***********************************/
/************layouts****************/
//HEADER
body {
  font-weight: 500;
  & > header {
    /*display: flex;
    justify-content: center;
    padding: 1rem;
    box-shadow: 0 0 10px 1px $darkergrey;

    &.H > img.H__logo {
      width: 50%;
    }
    &.H > button.H__goBack {
      & > i {
      }
    }*/
  }
}
$ok: 1em;

@mixin headerbarre($param: $ok) {
  padding: $param;
  box-shadow: 0 0 10px 1px $darkergrey;
}

.headerbarre {
  display: flex;
  justify-content: center;
  @include headerbarre(1rem);
}

//NAV

@mixin jumbotron__map() {
  text-align: center;
  background-color: $darkgrey;
  padding: 1em 0;

  > input {
    font-weight: bolder;
    background-color: transparent;
    border: none;
    text-align: center;
  }
}

@mixin jumbotron__menu {
  text-align: center;
  padding: 3em 1em;
  background-color: $lightgrey;

  > h2.slogan {
    font-weight: 100;
  }

  button.explore {
    @include button_form();
  }
}

@mixin jumbotron() {
  &__map {
    @include jumbotron__map;
  }

  &__menu {
    @include jumbotron__menu;
  }

  // ON POURRAIT UTILISER DES CONDITIONS @IF/@ELSE ET DES BOUCLES @EACH
}

.jumbotron {
  @include jumbotron;

  // METTRE DES REGLES NON PROGRAMMABLES
  // SOUVENT À L'AIDE DE %PLACEHOLDERS
}

body {
  & > nav {
    /*form {
      text-align: center;
      background-color: $darkgrey;
      padding: 1em 0;
      > * {
      }
      > i {
      }

      > input {
        font-weight: bolder;
        background-color: transparent;
        border: none;
        text-align: center;
      }
    }
    .menu {
      text-align: center;
      padding: 3em 1em;
      background-color: $lightgrey;

      > h1.menu__slogan {
      }
      > h2.menu__slogan {
        font-weight: unset;
      }

      button.explore {
        @include button_form()

      }
      
    }*/
  }
}

//MAIN FONCTIONNEMENT//

@mixin fonctionnement__list {
  > li {
    list-style: none;
    margin: 20px;
    position: relative;
    padding: 2em;
    border-radius: 30px;
    box-shadow: 1px 2px 5px lightgrey;

    &:hover {
      background-color: lighten($mauve, 35);
    }

    > i {
      color: $approxdarkergrey;
      padding-left: 15px;
      padding-right: 20px;
    }
    &:hover {
      i::before {
        color: $mauve;
      }
    }
  }

  &.--accueil {
    > li {
      &::before {
        background-color: #9356dc;
        width: 2em;
        height: 2em;
        padding: 5px;
        border-radius: 2em;
        position: absolute;
        left: -10px;
        top: 1.5em;
        color: white;
        text-align: center;
        line-height: 2rem;
      }

      @for $i from 1 through 3 {
        &:nth-child(#{$i}):before {
          content: "#{$i}";
        }
      }
    }
  }
}

@mixin fonctionnement__titre {
}

@mixin fonctionnement {
  &__titre {
    @include fonctionnement__titre();
  }
  &__list {
    @include fonctionnement__list();
  }
}

.fonctionnement {
  @include fonctionnement();
  margin: 2em;
}

//MAIN RESTAURANTS//

.restaurants {
  padding: 1em;
  background-color: $lightgrey;

  &__titre {
    margin: 2em;
  }

  >a{
    color: black;
    
  &__figure {
    border-radius: 10px;
    box-shadow: 0 0 10px -2px;
    width: 100%;
    height: 300px;
    margin: 1em 0;
    position: relative;

    > img {
      height: 75%;
      width: 100%;
      border-radius: 10px 10px 0 0;
      object-fit: cover;
    }
    > figcaption {
      padding: 1em;
      font-weight: bold;

      > i {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        position: relative;
        bottom: 1em;
        z-index: 101;
        &:hover::before {
          content: "\1F49C";
        }
      }
    }
      // > .heart_animated{
      //   &:hover::before {
      //     // background: linear-gradient($mauve, $rose);
      //     // border-color: linear-gradient($mauve, $rose);
      //     position: absolute;
      //     left: 50%;
      //     transform: translateX(-48%);
      //     bottom: 3px;
      //     font-size: 0;
      //     background: linear-gradient(#FF79DA, #9356dc);
      //     background: -webkit-linear-gradient(#FF79DA, #9356dc);
      //     transition: all 0.4s ease-in-out;
      //     -webkit-background-clip: text;
      //     -webkit-text-fill-color: transparent
      //   }
      // }
      > p {
        margin: 0;
        font-weight: 300;
        padding-top: 0.5em;
      }

      > span {
        color: $darkgreen;
        background-color: $lightgreen;
        font-size: large;
        position: absolute;
        right: 1em;
        top: 1em;
        padding: 0.5em;
        border-radius: 5px;
      }
    }

    a::before {
      content: "";
      z-index: 100;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }
}

//MAIN RESTAURANTS//

//FOOTER//

@mixin footerbloc {
  background: $verydarkergrey;
  color: $white;
  padding: 8px 0px 20px 10px;

  &__titre {
    margin: 2em;
  }

  &__content {
    > li {
      > a {
        text-decoration: none;
        color: $white;
        font-family: "Roboto";
        line-height: 25px;

        > .fa-utensils {
          padding-right: 1em;
        }

        > .fa-hands-helping {
          padding-right: 0.5em;
        }
      }
    }
  }
}

.footer {
  @include footerbloc();
}

// .__titre {
//   margin: 2em;
// }
// ._content {
//   > li {
//     > a {
//       text-decoration: none;
//       color: $white;
//        font-family: 'Roboto';
// line-height: 25px;
//     }
//     > i {
// padding-right: 10px;
//     }
//   }
//   }

// ANIMATION //

.overlayAnimation {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(206, 61, 242);
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: -1;
  animation: test 3s linear 1;

  &__title {
    display: flex;
    justify-content: center;
    position: relative;
    top: 42%;
    font-family: "Shrikhand", serif;
    color: #c7bc5bf6;
    font-weight: normal;
    font-size: 40px;
    letter-spacing: 8px;
  }
}

#loading {
  display: inline-block;
  position: absolute;
  width: 300px;
  height: 300px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes test {
  0% {
    opacity: 1;
    z-index: 100;
  }

  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes spin {
  to {
    z-index: 10;
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

/***********************************/
/***********************************/
/************pages******************/
@media only screen and (max-width: $QUERY_MOBILE_MAX) {
  body {
    & > header {
    }
    & > nav {
    }
    & > main {
      & > section {
      }
      & > article {
      }
    }
    & > footer {
      & > ul {
      }
    }
  }
}
@media only screen and (min-width: $QUERY_TAB_MIN) and (max-width: $QUERY_TAB_MAX) {
  body {
    & > header {
    }
    & > nav {
    }
    & > main {
      & > section {
      }
      & > article {
      }
    }
    & > footer {
      & > ul {
      }
    }
  }
  // body>header{}
  // body>main{}
  // body>main>section{}
  // body>main>article{}
  // body>footer{}
  // body>footer>ul{}
}
@media only screen and (min-width: $QUERY_DESKTOP_MIN) and (max-width: $QUERY_DESKTOP_MAX) {
  body {
    & > header {
    }
    & > nav {
    }
    & > main {
      & > section {
      }
      & > article {
      }
    }
    & > footer {
      & > ul {
      }
    }
  }
  // body>header{}
  // body>main{}
  // body>main>section{}
  // body>main>article{}
  // body>footer{}
  // body>footer>ul{}
}
//ACCUEIL

@mixin btnRetour {
  position: absolute;
  left: 1em;
  top: 0;
  height: 20%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 1.5em;
}

@mixin laCarte__plats {
}

@mixin laCarte {
  &__titre {
    @include laCarte__titre();
  }

  &__plats {
    @include laCarte__plats();
  }
}

//MENU - 1 - LA PALETTE DU GOUT

.headerbarre {
  display: flex;
  justify-content: center;
  @include headerbarre($ok);
  &__btnRetour {
    @include btnRetour();
  }
}

.bg {
  margin: 0;

  &__img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
  }
}

.laCarte {
  background-color: $lightgrey;
  border-radius: 2em 2em 0 0;
  margin-top: -6em;
  width: 100%;
  padding-bottom: 1em;
  position: relative;

  &__titre {
    text-align: center;
    font-family: "Shrikhand";
    display: flex;
    justify-content: space-between;
    padding: 1em;
    padding-left: 1.5em;
    >i{
        &:hover::before {
          content: "\1F49C";
        }
    }
  }

  // #heart {
  //   > .heart_still {
  //     ::before {
  //     }
  //     > .heart_animated {
  //       ::before {
  //         position: absolute;
  //         left: 50%;
  //         transform: translateX(-48%);
  //         bottom: 3px;
  //         font-size: 0;
  //         background: linear-gradient(#ff79da, #9356dc);
  //         background: -webkit-linear-gradient(#ff79da, #9356dc);
  //         transition: all 0.4s ease-in-out;
  //         -webkit-background-clip: text;
  //         -webkit-text-fill-color: transparent;
  //       }
  //     }
  //   }
  // }

  &__plats {
    > h2 {
      padding-left: 2em;
      position: relative;

      &::after {
        background-color: $turquoise;
        content: "";
        height: 3px;
        width: 3em;
        bottom: -0.2em;
        left: 2em;
        position: absolute;
      }
    }
    > ul {
      @include fonctionnement__list();
      animation: animationMenu 1s ease-in 1;
      overflow: hidden;

      > li {
        background-color: $white;
        padding: 0;
        height: 70px;
        padding-left: 2em;

        &:hover {
          background-color: $white;
        }

         > h3 {
           position: relative;
           margin-top: 1rem;
         }

        div {
          // display: flex;
          // flex-direction: column;
          overflow: hidden;

          &.box {
            // height: 6em;
            // top: 0;
            // right: 0;
            // border-radius: 0 25px 25px 0;
            // width: 100%;

             position: absolute;
             display: flex;
             align-items: flex-end;
             top: 0;
             left: 0;
             width: 100%;
             height: 100%;
             border-radius: 30px;
            //  padding-left: 2em;

            // > h3 {
            //   position: relative;
            //   padding: 1em 0 0.2em 0.8em;
            //   margin: 0;
            //   overflow: hidden;
            //   text-overflow: ellipsis;
            //   white-space: nowrap;
            // }

            > h4 {
              font-weight: 300;
              // padding: 0 1em;
              // margin: 0;
              // overflow: hidden;
              // text-overflow: ellipsis;
              // white-space: nowrap;

               width: 100%;
               padding-left: 2em;
               white-space: nowrap;
              //  overflow: hidden;
               text-overflow: ellipsis;
               margin-bottom: 0.5em;
            }

            // > span {
            //   margin: 1em 2em;
            // }
          }

          // \f058

          &.box::before {
              content: "✓";
              position: absolute;
              right: -2em;
              top: 30%;
              width: 35px;
              height: 35px;
              text-align: center;
              font-size: 2em;
              color: $turquoise;
              transition: transform 0.4s ease 0s, right 0.4s ease 0s;
              border-width: initial;
              border-style: solid;
              border-color: $turquoise;
              border-image: initial;
              border-radius: 2em;
          }

          &.box::after {
            content: "";
            width: 0px;
            height: 100%;
            right: 0;
            transition: width 0.4s;
            background: $turquoise;
            border-radius: 0 30px 30px 0;
            position: relative ;
          }


          > .price {
        
            right: 20px;
            bottom: 0px;
            display: inline-block;
            height: 40px;
            transition: 400ms;
            padding-right: 1rem;
            // padding-right: 2em;

          }

          // > .hover {
          //   display: block;
          //   font-size: 1em;
          //   color: white;
          //   text-align: center;
          //   height: 40px;
          //   padding: 10px 0;
          //   width: 55px;
          //   line-height: 40px;
          //   background-color: $turquoise;
          //   border-radius: 0 15px 15px 0;
          //   position: absolute;
          //   right: 0;
          //   top: 0;
          //   transform: translateX(55px);
          //   transition: 400ms;

          //   i {
          //     display: inline-block;
          //     font-style: normal;
          //     line-height: 1;
          //   }
          // }
        }
      }

       li:hover .box::after {
         width: 200px;
       }
       li:hover .box::before {
         transform: rotate(360deg);
         right: 4rem;

       }
    }
  }

   .laCarte__plats li {
     overflow: hidden;
   }
}

.laCarte__plats>ul>li:hover>div:before{
  background: white;
  right: 3%;
  z-index: 1;
}

.laCarte__plats>ul>li:hover>div:after{
  background: $turquoise;
  width: 150px;
}

.order {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 3em;

  &__commander {
    @include button_form();
  }
}

.footer {
  @include footerbloc();

  > ul {
    padding-left: 2em;
  }
}

@keyframes animationMenu{
  0% {height: 0;}
  90% {}
  100% {height: 400px;}
}

//MENU-2
//MENU-3
//MENU-4

/***********************************/
/***********************************/
/************themes*****************/

/***********************************/
/***********************************/
/************vendors****************/
