//HEADER

body {
    font-weight: 500;
    margin: auto;
    max-width: 1500px;
  }
  $ok: 1em;
  
  .headerbarre {
    display: flex;
    justify-content: center;
    &__logo {
      height: 70%;
      margin: 0.5em;
    }
    @include headerbarre(1rem);
  }