// ANIMATION LOADING SPINNER - ACCUEIL //

.overlayAnimation {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(206, 61, 242);
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: -1;
    animation: test 3s linear 1;
  
    &__title {
      display: flex;
      justify-content: center;
      position: relative;
      font-family: "Shrikhand", serif;
      color: #c7bc5bf6;
      font-weight: normal;
      font-size: 40px;
      letter-spacing: 8px;
    }
  }
  
  #loading {
    display: inline-block;
    position: absolute;
    width: 200px;
    height: 200px;
    border: 3px solid $couleur-tertiaire;
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
  }
  
  @keyframes test {
    0% {
      opacity: 1;
      z-index: 100;
    }
  
    100% {
      opacity: 0;
      z-index: -1;
    }
  }
  
  @keyframes spin {
    to {
      z-index: 10;
      -webkit-transform: rotate(360deg);
    }
  }
  
  @-webkit-keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
  }


  // ANIMATION MENUS //

  @keyframes animationMenu {
    0% {
      height: 0;
    }
    
    100% {
      height: 400px;
    }
  }